body {
    background-color: azure;
}

nav a {
    padding: 0.8rem;
}

.display-1,
.h5 {
    text-align: center;
    color: brown;
}

.container {
    margin-top: 20px;
}

.con {
    background-color: beige;
}

.con h1 {
    text-align: center;
    margin-bottom: 0px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

form {
    margin: 20px;
}

form div {
    margin: 5px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}